<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>reader</title>
		<link rel="stylesheet" href="/assets/styles.css">
	</head>
	<body>
		<h1>{{title}}</h1>
		<p><a href="{{link}}">{{link}}</a></p>
		<p>{{description}}</p>
		<hr>
		{{#each items}}
		<h2><a href="{{link}}">{{title}}</a></h2>
		<p>{{description}}</p>
		{{/each}}
	</body>
</html>
