<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>reader</title>
		<link rel="stylesheet" href="/assets/styles.css">
	</head>
	<body>
		<h1>my feed reader</h1>
		
		<ul>
			<li><a href="/hn">hacker news</a>
			<li><a href="/np">reddit neutral politics</a>
		</ul>
	</body>
</html>
