<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>reader :: refresh</title>
		<link rel="stylesheet" href="/assets/styles.css">
	</head>
	<body>
		<p>Refreshing feeds</p>
	</body>
</html>
